In [347]:
"""                      Hierarchical Indexing                        """

'                      Hierarchical Indexing                        '

In [348]:
"""                 A Multiply Indexed Series                         """

'                 A Multiply Indexed Series                         '

In [349]:
import pandas as pd
import numpy as np

In [350]:
# The bad way

In [351]:
index = [("California", 2000), ("California", 2010),
         ("New York", 2000), ("New York", 2010),
         ("Texas", 2000), ("Texas", 2010)]

population = [33871648, 37253956,
              18976457, 19378102,
              20851820, 25145561]

pop = pd.Series(population, index= index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [352]:
pop[("California", 2010):("Texas", 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [353]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [354]:
# The better way: Pandas MultiIndex

In [355]:
index = pd.MultiIndex.from_tuples(index)
index.levels

FrozenList([['California', 'New York', 'Texas'], [2000, 2010]])

In [356]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [357]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [358]:
# MultiIndex as extra dimension

In [359]:
pop_df = pop.unstack()
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [360]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [361]:
df = pd.DataFrame(data = [population], columns= index)
df

  California            New York               Texas
        2000      2010      2000      2010      2000      2010
0   33871648  37253956  18976457  19378102  20851820  25145561

In [362]:
pop_df = pd.DataFrame({
    "total":pop,
    "under18":[9267089, 9284094,
                4687374, 4318033,
                5906301, 6879014]
})

pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [363]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [364]:
"""                  Methods of MultiIndex Creation                   """

'                  Methods of MultiIndex Creation                   '

In [365]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index = [["a", "a", "b", "b" ], [1, 2, 1, 2]],
                  columns= ["data1", "data2"])
df

        data1     data2
a 1  0.874459  0.365707
  2  0.106650  0.119307
b 1  0.633815  0.002889
  2  0.147256  0.733092

In [366]:
data = {
    ('California', 2000): 33871648,
    ('California', 2010): 37253956,
    ('Texas', 2000): 20851820,
    ('Texas', 2010): 25145561,
    ('New York', 2000): 18976457,
    ('New York', 2010): 19378102
}

pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [367]:
# Explicit MultiIndex constructors

In [368]:
pd.MultiIndex.from_arrays([["a", "a", "b", "b"], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [369]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)]).levels

FrozenList([['a', 'b'], [1, 2]])

In [370]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [371]:
# MultiIndex level names

In [372]:
pop.index.names = ["state", "year"]
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [373]:
# MultiIndex for columns

In [374]:
index =pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                    names=['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                      names=['subject', 'type'])

data = np.round(np.random.rand(4, 6), 1)
data[:, ::2] *= 10

health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject     Bob      Guido       Sue
type         HR Temp    HR Temp   HR Temp
year visit
2013 1      4.0  0.8   5.0  0.2  5.0  0.3
     2      5.0  0.4   1.0  0.4  3.0  0.5
2014 1      9.0  0.6   9.0  0.7  1.0  0.5
     2      9.0  0.1   4.0  0.6  5.0  0.1

In [375]:
health_data['Guido']

type         HR  Temp
year visit
2013 1      5.0   0.2
     2      1.0   0.4
2014 1      9.0   0.7
     2      4.0   0.6

In [376]:
"""                   Indexing and Slicing a MultiIndex               """

'                   Indexing and Slicing a MultiIndex               '

In [377]:
# Multiply indexed Series

In [378]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [379]:
pop["California", 2000]

np.int64(33871648)

In [380]:
pop["California"]

year
2000    33871648
2010    37253956
dtype: int64

In [381]:
pop.loc["California":"New York"]

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [382]:
pop[:, 2000
    ]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [383]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [384]:
pop[["California", "Texas"]]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [385]:
# Multiply indexed DataFrames

In [386]:
health_data

subject     Bob      Guido       Sue
type         HR Temp    HR Temp   HR Temp
year visit
2013 1      4.0  0.8   5.0  0.2  5.0  0.3
     2      5.0  0.4   1.0  0.4  3.0  0.5
2014 1      9.0  0.6   9.0  0.7  1.0  0.5
     2      9.0  0.1   4.0  0.6  5.0  0.1

In [387]:
health_data["Guido", "HR"]

year  visit
2013  1        5.0
      2        1.0
2014  1        9.0
      2        4.0
Name: (Guido, HR), dtype: float64

In [388]:
health_data.iloc[:2, :2]

subject     Bob
type         HR Temp
year visit
2013 1      4.0  0.8
     2      5.0  0.4

In [389]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        4.0
      2        5.0
2014  1        9.0
      2        9.0
Name: (Bob, HR), dtype: float64

In [390]:
#health_data.loc[(:, 1), (:, 'HR')] # SyntaxError: invalid syntax ||

In [391]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject     Bob Guido  Sue
type         HR    HR   HR
year visit
2013 1      4.0   5.0  5.0
2014 1      9.0   9.0  1.0

In [392]:
"""                    Rearranging Multi-Indices                     """

'                    Rearranging Multi-Indices                     '

In [393]:
# Sorted and unsorted indices

In [394]:
index = pd.MultiIndex.from_product([["a", "c", "b"], [1, 2]])
data = pd.Series(np.random.rand(6), index= index)
data.index.names = ["char", "int"]
data

char  int
a     1      0.495812
      2      0.905694
c     1      0.158104
      2      0.361218
b     1      0.559694
      2      0.161915
dtype: float64

In [395]:
try: 
    data["a":"b"]
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [396]:
data = data.sort_index()
data

char  int
a     1      0.495812
      2      0.905694
b     1      0.559694
      2      0.161915
c     1      0.158104
      2      0.361218
dtype: float64

In [397]:
data["a":"b"]

char  int
a     1      0.495812
      2      0.905694
b     1      0.559694
      2      0.161915
dtype: float64

In [398]:
# Stacking and unstacking indices

In [399]:
pop.unstack(level= 0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [400]:
pop.unstack(level=1)

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [401]:
pop.unstack().stack()

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [402]:
# Index setting and resetting

In [403]:
pop_flat = pop.reset_index(name='population')
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [404]:
pop_flat.set_index(["state", "year"])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [405]:
"""               Data Aggregations on Multi-Indices                  """

'               Data Aggregations on Multi-Indices                  '

In [406]:
health_data

subject     Bob      Guido       Sue
type         HR Temp    HR Temp   HR Temp
year visit
2013 1      4.0  0.8   5.0  0.2  5.0  0.3
     2      5.0  0.4   1.0  0.4  3.0  0.5
2014 1      9.0  0.6   9.0  0.7  1.0  0.5
     2      9.0  0.1   4.0  0.6  5.0  0.1

In [407]:
import pandas as pd

index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [408]:
index = pd.MultiIndex.from_tuples(index)
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [409]:
pop[:, 2010]  # 2010 yil uchun barcha shtatlar

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [410]:
arrays = [['California', 'California', 'New York', 'New York', 'Texas', 'Texas'],
          [2000, 2010, 2000, 2010, 2000, 2010]]

index = pd.MultiIndex.from_arrays(arrays)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [411]:
index = pd.MultiIndex.from_product([['California', 'New York', 'Texas'], [2000, 2010]])
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [412]:
pop = pd.Series([33871648, 37253956, 18976457, 19378102, 20851820, 25145561])
pop.index = index  # MultiIndex ni qo'llash
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [413]:
pop['California', 2010]   # faqat 2010 yil California
pop[:, 2000]              # barcha shtatlar boyicha 2000 yil

California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [414]:
import pandas as pd

# Tuple ro'yxati
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

# Har bir tuple uchun qiymatlar
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

# Series yaratish
pop = pd.Series(populations, index=index)
print(pop)

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [415]:
# MultiIndex yaratish
multi_index = pd.MultiIndex.from_tuples(index)
print(multi_index)

# Series'ni MultiIndex bilan qayta tartiblash
pop = pop.reindex(multi_index)
print(pop)

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [416]:
# Har bir array  bir daraja
arrays = [['California', 'California', 'New York', 'New York', 'Texas', 'Texas'],
          [2000, 2010, 2000, 2010, 2000, 2010]]

multi_index2 = pd.MultiIndex.from_arrays(arrays, names=['state', 'year'])
pop.index = multi_index2
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [417]:
states = ['California', 'New York', 'Texas']
years = [2000, 2010]

multi_index3 = pd.MultiIndex.from_product([states, years], names=['state','year'])
pop = pd.Series([33871648, 37253956, 18976457, 19378102, 20851820, 25145561],
                index=multi_index3)
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [418]:
# Faqat California ma'lumotlari
print(pop['California'])

# Faqat 2010 yil ma'lumotlari
print(pop[:, 2010])

year
2000    33871648
2010    37253956
dtype: int64
state
California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [419]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])

# Column MultiIndex
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# Tasodifiy ma'lumot yaratish
data = np.round(np.random.randn(4, 6), 1)  # 4x6 matrix
data[:, ::2] *= 10  # HR ustunlarini kattalashtiramiz
data += 37           # HR va Temp qiymatlarni ozgartiramiz

# DataFrame yaratish
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      51.0  37.0  41.0  35.8  35.0  38.4
     2      40.0  36.4  30.0  35.1  40.0  38.3
2014 1      21.0  34.8  43.0  38.1  43.0  38.5
     2      42.0  36.8  27.0  36.7  46.0  37.6

In [420]:
# Guido ning HR ma'lumotlarini olish
print(health_data['Guido', 'HR'])

year  visit
2013  1        41.0
      2        30.0
2014  1        43.0
      2        27.0
Name: (Guido, HR), dtype: float64

In [421]:
# Unstack row darajasini (visit) column ga otkazish
health_unstacked = health_data.unstack(level='visit')
print(health_unstacked)

subject   Bob                   Guido                     Sue              \
type       HR        Temp          HR        Temp          HR        Temp
visit       1     2     1     2     1     2     1     2     1     2     1
year
2013     51.0  40.0  37.0  36.4  41.0  30.0  35.8  35.1  35.0  40.0  38.4
2014     21.0  42.0  34.8  36.8  43.0  27.0  38.1  36.7  43.0  46.0  38.5

subject
type
visit       2
year
2013     38.3
2014     37.6

In [422]:
# Stack bilan qayta tiklash
health_stacked = health_unstacked.stack(level='visit')
print(health_stacked)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      51.0  37.0  41.0  35.8  35.0  38.4
     2      40.0  36.4  30.0  35.1  40.0  38.3
2014 1      21.0  34.8  43.0  38.1  43.0  38.5
     2      42.0  36.8  27.0  36.7  46.0  37.6

C:\Users\Asus\AppData\Local\Temp\ipykernel_1864\1737060397.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  health_stacked = health_unstacked.stack(level='visit')

In [423]:
idx = pd.IndexSlice
# 1-visit va HR ustunlarini olish
print(health_data.loc[idx[:, 1], idx[:, 'HR']])

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      51.0  41.0  35.0
2014 1      21.0  43.0  43.0

In [424]:
"""                               Examples                             """

'                               Examples                             '

In [425]:
# >>------> 1-5: MultiIndex yaratish va Series bilan ishlash <------<< #

In [426]:
index = [
    ("Toshkent", 2000), ("Toshkent", 2025),
    ("Farg'ona", 2000), ("Farg'ona", 2025),
    ("Andijon", 2000), ("Andijon", 2025),
    ("Namangan", 2000), ("Namangan", 2025),
    ("Samarqand", 2000), ("Samarqand", 2025),
    ("Buxoro", 2000), ("Buxoro", 2025),
    ("Xorazm", 2000), ("Xorazm", 2025),
    ("Navoiy", 2000), ("Navoiy", 2025),
    ("Qashqadaryo", 2000), ("Qashqadaryo", 2025),
    ("Surxondaryo", 2000), ("Surxondaryo", 2025),
    ("Sirdaryo", 2000), ("Sirdaryo", 2025),
    ("Jizzax", 2000), ("Jizzax", 2025)
]

population = [
    2200000, 2800000,  # Toshkent
    1500000, 1800000,  # Farg'ona
    1200000, 1400000,  # Andijon
    1100000, 1300000,  # Namangan
    1400000, 1600000,  # Samarqand
    1200000, 1350000,  # Buxoro
    900000,  1000000,  # Xorazm
    750000,  850000,   # Navoiy
    1800000, 2100000,  # Qashqadaryo
    1200000, 1400000,  # Surxondaryo
    500000,  600000,   # Sirdaryo
    900000,  1050000   # Jizzax
]

se = pd.Series(data= population, index= index)
se

(Toshkent, 2000)       2200000
(Toshkent, 2025)       2800000
(Farg'ona, 2000)       1500000
(Farg'ona, 2025)       1800000
(Andijon, 2000)        1200000
(Andijon, 2025)        1400000
(Namangan, 2000)       1100000
(Namangan, 2025)       1300000
(Samarqand, 2000)      1400000
(Samarqand, 2025)      1600000
(Buxoro, 2000)         1200000
(Buxoro, 2025)         1350000
(Xorazm, 2000)          900000
(Xorazm, 2025)         1000000
(Navoiy, 2000)          750000
(Navoiy, 2025)          850000
(Qashqadaryo, 2000)    1800000
(Qashqadaryo, 2025)    2100000
(Surxondaryo, 2000)    1200000
(Surxondaryo, 2025)    1400000
(Sirdaryo, 2000)        500000
(Sirdaryo, 2025)        600000
(Jizzax, 2000)          900000
(Jizzax, 2025)         1050000
dtype: int64

In [427]:
MIndex = pd.MultiIndex.from_tuples(index)
MIndex

MultiIndex([(   'Toshkent', 2000),
            (   'Toshkent', 2025),
            (   'Farg'ona', 2000),
            (   'Farg'ona', 2025),
            (    'Andijon', 2000),
            (    'Andijon', 2025),
            (   'Namangan', 2000),
            (   'Namangan', 2025),
            (  'Samarqand', 2000),
            (  'Samarqand', 2025),
            (     'Buxoro', 2000),
            (     'Buxoro', 2025),
            (     'Xorazm', 2000),
            (     'Xorazm', 2025),
            (     'Navoiy', 2000),
            (     'Navoiy', 2025),
            ('Qashqadaryo', 2000),
            ('Qashqadaryo', 2025),
            ('Surxondaryo', 2000),
            ('Surxondaryo', 2025),
            (   'Sirdaryo', 2000),
            (   'Sirdaryo', 2025),
            (     'Jizzax', 2000),
            (     'Jizzax', 2025)],
           )

In [428]:
MultiIndexArray = pd.MultiIndex.from_arrays(index)
MultiIndexArray

MultiIndex([('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            (      2000,       2025,       2000,       2025,      2000, ...)],
           )

In [429]:
MultiIndexProduct = pd.MultiIndex.from_product(index)
MultiIndexProduct

MultiIndex([('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ('Toshkent', 'Toshkent', 'Farg'ona', 'Farg'ona', 'Andijon', ...),
            ...
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...),
            (      2000,       2025,       2000,       2025,      2000, ...)],
           length=16777216)

In [430]:
index = [
    ("Toshkent", 2000), ("Toshkent", 2025),
    ("Farg'ona", 2000), ("Farg'ona", 2025),
    ("Andijon", 2000), ("Andijon", 2025),
    ("Namangan", 2000), ("Namangan", 2025),
    ("Samarqand", 2000), ("Samarqand", 2025),
    ("Buxoro", 2000), ("Buxoro", 2025),
    ("Xorazm", 2000), ("Xorazm", 2025),
    ("Navoiy", 2000), ("Navoiy", 2025),
    ("Qashqadaryo", 2000), ("Qashqadaryo", 2025),
    ("Surxondaryo", 2000), ("Surxondaryo", 2025),
    ("Sirdaryo", 2000), ("Sirdaryo", 2025),
    ("Jizzax", 2000), ("Jizzax", 2025)
]

multi_index = pd.MultiIndex.from_tuples(index, names=['Viloyat','Yil'])

population = [
    2200000, 2800000,  # Toshkent
    1500000, 1800000,  # Farg'ona
    1200000, 1400000,  # Andijon
    1100000, 1300000,  # Namangan
    1400000, 1600000,  # Samarqand
    1200000, 1350000,  # Buxoro
    900000,  1000000,  # Xorazm
    750000,  850000,   # Navoiy
    1800000, 2100000,  # Qashqadaryo
    1200000, 1400000,  # Surxondaryo
    500000,  600000,   # Sirdaryo
    900000,  1050000   # Jizzax
]

df = pd.DataFrame({'Population': population}, index=multi_index)
df

                  Population
Viloyat     Yil
Toshkent    2000     2200000
            2025     2800000
Farg'ona    2000     1500000
            2025     1800000
Andijon     2000     1200000
            2025     1400000
Namangan    2000     1100000
            2025     1300000
Samarqand   2000     1400000
            2025     1600000
Buxoro      2000     1200000
            2025     1350000
Xorazm      2000      900000
            2025     1000000
Navoiy      2000      750000
            2025      850000
Qashqadaryo 2000     1800000
            2025     2100000
Surxondaryo 2000     1200000
            2025     1400000
Sirdaryo    2000      500000
            2025      600000
Jizzax      2000      900000
            2025     1050000

In [431]:
se[("Toshkent", 2000) :("Toshkent", 2025)]

(Toshkent, 2000)    2200000
(Toshkent, 2025)    2800000
dtype: int64

In [432]:
se

(Toshkent, 2000)       2200000
(Toshkent, 2025)       2800000
(Farg'ona, 2000)       1500000
(Farg'ona, 2025)       1800000
(Andijon, 2000)        1200000
(Andijon, 2025)        1400000
(Namangan, 2000)       1100000
(Namangan, 2025)       1300000
(Samarqand, 2000)      1400000
(Samarqand, 2025)      1600000
(Buxoro, 2000)         1200000
(Buxoro, 2025)         1350000
(Xorazm, 2000)          900000
(Xorazm, 2025)         1000000
(Navoiy, 2000)          750000
(Navoiy, 2025)          850000
(Qashqadaryo, 2000)    1800000
(Qashqadaryo, 2025)    2100000
(Surxondaryo, 2000)    1200000
(Surxondaryo, 2025)    1400000
(Sirdaryo, 2000)        500000
(Sirdaryo, 2025)        600000
(Jizzax, 2000)          900000
(Jizzax, 2025)         1050000
dtype: int64